@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$main_color: #f2ffdf;
$background_color: #34aebb;

body{
    margin: 0px;
    padding: 0px;
    background-color: $background_color;
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin: 0px;
    padding: 0px;
}

.main {
	color: $main_color;
    width: 100%;
    padding-top: 10%;
}

.title {
	width: 100%;
	text-align: center;
    font-size: 2em;
}
.paragraph {
	text-align: center;
	width: 100%;
    font-size: 1.2em;
	p {
		width: 50%;
		margin: 0 auto;
		padding-top: 20px;
	}
}
.gallery {
	width: 90%;
	margin: 0 5%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.single-image {
	margin: 5% 2%;
	width: 400px;
	height: auto;
	img {
		width: 400px;
		height: 400px;
	}
}
.img-circle {
	clip-path: circle(200px at 200px 200px);

}
.img-triangle {
    clip-path: polygon(50% 10%, 0% 90%, 100% 90%);
}
.img-rectangle {
	clip-path: inset(15% 0 15% 0);
}

.lightbox-wrapper {
    position:absolute;
    height: 50%;
    width: 50%;
    z-index:1004;
}

.fullsize {
	position: fixed;
	height: 80%;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1002;
}

.caption {
	position: fixed;
	background: trasparent;
	color: $main_color;
    font-weight: bold;
	padding: 8px;
	top: 3%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1003;
}

.close-button{
    position: fixed;
	padding: 8px;
    width: 50px;
	top: 3%;
	left: 90%;
	transform: translateX(-50%);
	z-index: 1003;
    &:hover {
		cursor: pointer;
	}
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: transparent;
	height: 90%;
	width: 90%;
	opacity: 0.85;
	z-index: 1001;
}

@media only screen and (min-width: 2000px) {

    .title {
        font-size: 2em;
    }

    .paragraph {
        font-size: 1.5em;
    }

    .single-image {
    	margin: 5% 2%;
    	width: 700px;
    	height: auto;
    	img {
    		width: 700px;
    		height: 700px;
    	}
    }

    .img-circle {
    	clip-path: circle(350px at 350px 350px);
    }

}

@media only screen and (max-width: 768px) {

    .title {
        font-size: 1.2em;
    }

    .paragraph {
        font-size: .8em;
    }

    .single-image {
    	margin: 5% 2%;
    	width: 300px;
    	height: auto;
    	img {
    		width: 300px;
    		height: 300px;
    	}
    }

    .img-circle {
    	clip-path: circle(150px at 150px 150px);
    }

}

@media only screen and (max-width: 425px){

    .fullsize {
        position: fixed;
    	height: 45%;
    	top: 45%;
    	left: 50%;
    }

    .close-button {
        width: 30px;
    }

}

.single-image img:hover {
	opacity: .5;
}
