@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$main_color: #f2ffdf;
$background_color: #34aebb;

body{
    margin: 0px;
    padding: 0px;
    background-color: $background_color;
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin: 0px;
    padding: 0px;
}

.main {
	color: $main_color;
    width: 100%;
    padding-top: 10%;
}

.title {
	width: 100%;
	text-align: center;
    font-size: 2em;
}
.paragraph {
	text-align: center;
	width: 100%;
    font-size: 1.2em;
	p {
		width: 50%;
		margin: 0 auto;
		padding-top: 20px;
	}
}
.gallery {
	width: 90%;
	margin: 0 5%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.single-image {
	margin: 5% 2%;
	width: 400px;
	height: auto;
	img {
		width: 400px;
		height: 400px;
	}
}
.img-circle {
	clip-path: circle(200px at 200px 200px);

}
.img-triangle {
    clip-path: polygon(50% 10%, 0% 90%, 100% 90%);
}
.img-rectangle {
	clip-path: inset(15% 0 15% 0);
}
